flask
flask-cors
flask-restful
flask-redis
pymysqldb
gunicorn
gevent
config
langid
numpy
pdfplumber
python-docx
jieba
zhconv
pyltp
nltk
hanlp
pyyaml
pyjwt
sentry-sdk[flask]
psutil
GPUtil
flask_mail
importlib-metadata==4.13.0
xlrd==1.2.0
unidecode
Flask-APScheduler
torch==1.13.1
SQLAlchemy==1.4.45
celery==5.2.7
openpyxl
indic-nlp-library